body {
    width: 6320px;
    height: 1200px;
/*    border: 1px solid #FF0000;*/
}

.main_cont {
    width: 6320px;
    height: 1200px;
    position: relative;
    background-color: #FFFFFF;
    box-sizing: border-box;
    overflow: hidden;
}

.cover {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    z-index: 9999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading_cover {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #00000055;
    position: absolute;
    z-index: 99999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 200px;
    height: 200px;
    border: 20px solid #FFFFFF;
    border-top: 20px solid transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

.index_btm {
    position: absolute;
    width: 100%;
    z-index: 10;
    bottom: 102px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.screen_page {
    position: absolute;
    z-index: 999;
}

.index_btm .txt_zone {
    width: 830px;
    height: 140px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 69px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.index_btm .img_zone {
    transform: translateY(13%);
}

.main_page {
    position: absolute;
    width: 100%;
    height: 100%;
}

.top_zone {
    position: relative;
}

.top_zone .txt_zone {
    position: absolute;
    top: 146px;
    left: 95px;
    color: #FFFFFF;
}

.top_zone .txt_big {
    font-size: 79px;
    font-weight: 900;
    line-height: 100px;
    text-shadow: 3px 3px 0px #00000094;
}

.top_zone .txt_small {
    font-size: 32px;
    font-weight: 300;
    margin-top: 30px;
}

.img_char {
    position: absolute;
    top: 173px;
    left: 569px;
    z-index: 20;
    animation: up-down 1.5s infinite ease-in-out alternate;
}
.img_char.pause {
    animation-play-state: paused;
}

@keyframes up-down {
    from {
        transform: translatey(0px);
    }

    to {
        transform: translatey(-20px);
    }
}

.control_area {
    position: absolute;
    width: 1080px;
    height: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border-radius: 100px 100px 0px 0px;
    z-index: 10;
}

.title_zone {
    width: 100%;
    color: #73717A;
    font-weight: 900;
    text-align: center;
    line-height: 1.35;
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.title_zone .txt_wrap {
    width: 960px;
}

.title_zone .txt_title {
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 90px;
    white-space: nowrap;
}

.title_zone .txt_desc {
    margin-top: 50px;
    font-size: 50px;
}

.control_zone {
    width: 710px;
    height: 380px;
    background: #F6F4FB;
    border: 10px solid #F0EDF8;
    border-radius: 199px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 90px;
}

.btn_obj {
    width: 260px;
    height: 330px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 34px;
    box-sizing: border-box;
}

.btn_zone {
    height: 215px;
    box-sizing: border-box;
}

.btn_zone img:nth-child(1) {
    display: inline-block;
}

.btn_zone img:nth-child(2) {
    display: none;
}

.btn_zone:active img:nth-child(1) {
    display: none;
}

.btn_zone:active img:nth-child(2) {
    display: inline-block;
}

.main_list {
    position: absolute;
    width: 1080px;
    height: 1400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border-radius: 100px 100px 0px 0px;
}

.main_wrapper {
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.item_list {
    width: 100%;
    height: 100%;
}

.item_wrap {
    margin-left: 180px;
    width: 720px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.item {
    width: 195px;
    height: 200px;
    margin-right: 22px;
    margin-left: 22px;
    margin-top: 15px;
    margin-bottom: 90px;
}

.mid_zone {
    position: absolute;
    top: 520px;
    z-index: 10;
    width: 1080px;
    height: 1400px;
    background: #FFFFFF00;
    border-radius: 100px 100px 0px 0px;
}

.mid_zone {}

.mid_zone .main_list .img_zone {
    width: 185px;
    height: 185px;
    position: relative;
    overflow: hidden;
    border: 10px solid #E1DEEC;
    border-radius: 42px;
}

.mid_zone .main_list .img_zone img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.mid_zone .txt_zone {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.mid_zone .txt_zone p {
    width: 100%;
    font-size: 25px;
    /*    border: 2px solid #FF0000;*/
    text-align: center;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: 30px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    display: none;
}

.swiper-button-prev {
    background-image: url('../../images/bt_page_l_o.svg');
    position: absolute;
    top: 46.5%;
    transform: translateX(40%);
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;
}

.swiper-button-next {
    background-image: url('../../images/bt_page_r_o.svg');
    position: absolute;
    top: 46.5%;
    transform: translateX(-40%);
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 5;
}

.swiper-pagination {
    z-index: 5;
}

.swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #000;
    opacity: 1;
    background: rgba(136, 95, 95, 0.2);
    margin: 0 10px !important;
}

.swiper-pagination-bullet-active {
    color: #fff;
    background: #007aff;
}
