body {
    width: 7680px;
    height: 1200px;
/*    border: 1px solid #FF0000;*/
}

.main_cont {
    width: 7680px;
    height: 1200px;
    position: relative;
    background-color: #000000;
    box-sizing: border-box;
    overflow: hidden;
}

.cover {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #000;
    position: absolute;
    z-index: 9999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading_cover {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #00000055;
    position: absolute;
    z-index: 99999;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading-spinner {
    width: 200px;
    height: 200px;
    border: 20px solid #FFFFFF;
    border-top: 20px solid transparent;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

.screen_page {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 100%;
}

.notice_box{
    position: absolute;
    width: 100%;
    height: 100%;
}

.notice_box img{
    width: 100%;
    height: 100%; 
    object-fit:contain;
}

.notice_box img.full_size{
    object-fit:fill
}

.notice_box video{
    width: 100%;
    height: 100%; 
    object-fit:contain;
}

.notice_box video.full_size{
    object-fit:fill
}

.video_main{
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background-color: #000000;
}

.video_box{
    width: 100%;
    height: 100%;
}

.video_box video{
    width: 100%;
    height: 100%;
    object-fit:contain;
}

.video_box video.full_size{
    object-fit:fill;
}